<div class="row justify-content-md-center">
    <mat-card class="col-3 m-3">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Filière</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Cette catégorie permet la gestion des filière disponible. Elle permet donc de lister les filière
                actuelle,
                d'en crée de nouvelle, de les supprimer ou de les mettre à jour.
            </p>
        </mat-card-content>
        <mat-card-actions class="fixed-bottom">
            <button (click)="goToFiliereTab()" class="btn btn-primary">Acceder au filière</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-3 m-3">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Formations</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Cette catégorie permet la gestion des formations disponible. Elle permet donc de lister les formations
                actuelle,
                d'en crée de nouvelle, de les supprimer ou de les mettre à jour.
            </p>
        </mat-card-content>
        <mat-card-actions class="fixed-bottom">
            <button (click)="goToFormationTab()" class="btn btn-primary">Accéder au formations</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-3 m-3">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Promotion</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Cette catégorie permet la gestion des promotions disponible. Elle permet donc de lister les promotions
                actuelle,
                d'en crée de nouvelle, de les supprimer ou de les mettre à jour.
            </p>
        </mat-card-content>
        <mat-card-actions class="fixed-bottom">
            <button (click)="goToPromotionTab()" class="btn btn-primary">Accéder au promotions</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="col-3 m-3">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Utilisateur</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Cette catégorie permet la gestion des utilisateur disponible. Elle permet donc de lister les utilisateurs
                actuelle,
                d'en crée de nouveau, de les supprimer ou de les mettre à jour.
            </p>
        </mat-card-content>
        <mat-card-actions class="fixed-bottom">
            <button (click)="goToUserTab()" class="btn btn-primary">Accéder au utilisateurs</button>
        </mat-card-actions>
    </mat-card>
</div>