<div class="container">
  <mat-card class="my-3">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Formulaire de contact</mat-card-title>
    </mat-card-header>
    <form #loginForm="ngForm" (ngSubmit)="sendEmail()">
      <mat-card-content>
        <div class="row">
          <div class="col-9">
            <mat-form-field class="col-12">
              <mat-label>Nom</mat-label>
              <input matInput type="text" name="name" placeholder="Nom" [(ngModel)]="newContact.name">
            </mat-form-field>
            <mat-form-field class="col-12">
              <mat-label>E-mail</mat-label>
              <input matInput type="email" name="email" placeholder="email" [(ngModel)]="newContact.email">
            </mat-form-field>
            <mat-form-field class="col-12">
              <mat-label>Message</mat-label>
              <textarea matInput name="message" rows="4" placeholder="Message"
                [(ngModel)]="newContact.message"></textarea>
            </mat-form-field>
          </div>
          <div class="col-3">
            <address>
              <strong>Sciences-U Lyon</strong><br>
              53 Cours Albert Thomas<br>
              69003, Lyon<br>
              <abbr title="Phone">Tel:</abbr> 0426290101
            </address>
            <address>
              <strong>Email</strong><br>
              <a href="mailto:contact@sciences-u-lyon.fr">contact@sciences-u-lyon.fr</a><br>
            </address>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>