<mat-toolbar class="blue">
  2019
  &nbsp;&nbsp;
  <span class="btn">@ Sciences-U Lyon</span>
  <button class="btn" (click)="goToMentions()">Mentions légales</button>
  <button class="btn" (click)="goToConditions()">Conditions d'utilisations</button>
  <button class="btn" (click)="goToFAQ()">FAQ</button>
  <span class="toolbar-spacer"></span>
  <div>
    <a href="https://www.facebook.com/CampusSciencesULyon/" target="_blank"><img src="assets/img/logo_facebook.png" width="32px"></a>
    <a href="https://twitter.com/sciencesulyon" target="_blank" class="ml-3"><img src="assets/img/logo_twitter.png" width="32px"></a>
    <a href="https://www.linkedin.com/in/sciences-u-lyon-u-network-9053998b/" target="_blank" class="ml-3"><img src="assets/img/logo_linkedin.png" width="32px"></a>
  </div>
</mat-toolbar>