<h1 mat-dialog-title>Créer un utilisateur</h1>
<form #inscriptionForm="ngForm">
<div mat-dialog-content>

        <div layout="row" layout-align="center center" class="container">
          <div class="card input-group mb-3">
            <div class="card-body">
                <div class="form-group">
                    <label for="civilite">Civilité</label>
                    <select id="civilite" [(ngModel)]="user.civilite" name="civilite" class="form-control">
                        <option value="Madame" selecte>Madame</option>
                        <option value="Monsieur">Monsieur</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label >Prénom</label>
                    <input type="email" class="form-control" name="firstName" id="firstName" [(ngModel)]="user.firstName" placeholder="Entrer votre prénom" required>
                  </div>
                <div class="form-group">
                    <label >Nom</label>
                    <input type="email" class="form-control" name="name" id="name" [(ngModel)]="user.name" placeholder="Entrer votre nom" required>
                  </div>
                <div class="form-group">
                <label >Email</label>
                <input type="email" class="form-control" (keyup)="checkEmail()" name="email" id="email" [(ngModel)]="user.email" placeholder="Entrer votre email" required>
                <div *ngIf='erreurMail!=""' class="alert alert-danger" role="alert">
                  <p [innerHTML]="erreurMail"></p>
                </div>
              </div>
              <div class="form-group">
                  <label for="formation">Formation</label>
                  <select id="formation" [(ngModel)]="maFormation" name="formation" class="form-control">
                      <optgroup *ngFor="let filiere of filieres" [label]=filiere.lb_filiere>
                        <ng-container *ngFor="let formation of formations">
                          <option *ngIf="checkFormation(filiere,formation)" [value]="formation._id">{{formation.lb_formation}}</option>
                        </ng-container>
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="promotion">Promotion</label>
                    <select id="promotion" [(ngModel)]="maPromotion" name="promotion" class="form-control">
                        <option *ngFor="let promotion of promotions" [value]=promotion._id [label]=promotion.lb_promotion></option>
                      </select>
                  </div>
              <div *ngIf='erreur!=""' class="alert alert-danger" role="alert">
                  <p [innerHTML]="erreur"></p>
                </div>
             
            </div>
          </div>
        </div>
        
    </div>
    <mat-dialog-actions align="end">

            <div class="btn is-right">
                    <button type="submit" class="btn btn-primary" (click)="creerUser()" mat-dialog-close [disabled]="!inscriptionForm.form.valid || erreurMail!=''" >Créer</button>
                  </div>
        </mat-dialog-actions>
    </form>