<div class="container">
    <div class="row">
      <div class="col-md-12">
        <BR>      
          <h2 class="float-left">{{maFormation.lb_formation}}</h2>
        <a routerLink="/administrationFormation" class="btn btn-primary float-right" routerLinkActive="active">Retour</a>
        <form #filiereCreation="ngForm" (ngSubmit)="updateFormation()">
          
            <div layout="row" layout-align="center center">
              <div class="card input-group mb-3">
                <div class="card-body">
                      <div class="form-group">
                        <label >Libellé</label>
                        <input type="text" class="form-control" name="lb_formation" id="lb_formation" [(ngModel)]="maFormation.lb_formation" placeholder="Entrer le libellé de la formation" required>
                      </div>
                      <div class="form-group">
                          <label for="filiere">Filières</label>
                          <select id="filiere" [(ngModel)]="maFiliere._id" name="filiere" class="form-control" required>
                                  <ng-container *ngFor="let filiere of mesFilieres">
                                      <option [value]="filiere._id">{{filiere.lb_filiere}}</option>
                                  </ng-container>
                            </select><ng-container *ngFor="let formation of formations">
                    <option *ngIf="checkFormation(filiere,formation)" [value]="formation._id">{{formation.lb_formation}}</option>
                  </ng-container>
                        </div>
                  <div *ngIf='erreur!=""' class="alert alert-danger" role="alert">
                      <p [innerHTML]="erreur"></p>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!filiereCreation.form.valid" >Mettre à jour</button>
                </div>
              </div>
            </div>
            </form>
    </div>
  </div>
</div>


