<div class="container">
  <div class="row">
    <br>
    <div class="col">
      <p style="text-align: center">Conçu par des pour des <b>étudiants</b>, U-Network est le réseau des anciens
        étudiants de Sciences-U Lyon, Pitiot, Crespa, Efab...<br>

        Cette plateforme vous permettra de <b>retrouver les anciens étudiants</b> de votre promotion et de <b>suivre
          l'actualité</b> de vos différents secteurs d'activités et métiers.<br>

        Désireux de vous <b>accompagner tout au long de votre vie professionnelle</b> , U-Network vous apporte des
        conseils professionnels sur des thématiques comme les <b>entretiens d'embauche</b>, la <b>création de CV</b>, la
        <b>rédaction de lettres de motivation</b> et sur les <b>techniques de réseautage.</b><br>

        Vous pourrez également l'utiliser comme <b>plateforme de recrutement</b> pour des recherches de compétences en
        Informatique, en Immobilier & Notariat, en Marketing et Commerce, en Communication & Événementiel, en
        Comptabilité & Gestion ou encore en Ressources Humaines.<br>

        A l’affût de nouvelles compétences spécifiques, de partenaires financiers, de collaborateurs pour le
        développement de projet ou encore pour une recherche de covoiturage, <b>un Espace Annonce vous est entièrement
          dédié.</b><br>

        Bienvenue sur <b>U-Network</b>, sur <b>votre network!</b></p>
      <div class="text-center">
        <button type="button" class="btn btn-outline-primary"
          [routerLink]="['/inscription']">Je m'inscris !</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-accueil-annuaire></app-accueil-annuaire>
    </div>
  </div>
</div>